{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        play-cljc {:mvn/version "0.8.2"}
        org.lwjgl/lwjgl {:mvn/version "3.2.2"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.2.2"}
        org.lwjgl/lwjgl-opengl {:mvn/version "3.2.2"}
        org.lwjgl/lwjgl-stb {:mvn/version "3.2.2"}
        libvim-clj {:local/root "../libvim-clj"}
        parinferish {:mvn/version "0.6.0"}
        com.rpl/specter {:mvn/version "1.1.2"}
        org.clojars.oakes/core.rrb-vector {:mvn/version "0.0.15-2019.09.02"}}
 :aliases {:dev {:extra-deps {orchestra {:mvn/version "2018.12.06-2"}
                              expound {:mvn/version "0.7.2"}}
                 :main-opts ["dev.clj"]}
           :prod {:extra-deps {leiningen {:mvn/version "2.9.0"}}
                  :main-opts ["prod.clj"]}
           :linux {:extra-deps {org.lwjgl/lwjgl$natives-linux {:mvn/version "3.2.2"}
                                org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.2.2"}
                                org.lwjgl/lwjgl-opengl$natives-linux {:mvn/version "3.2.2"}
                                org.lwjgl/lwjgl-stb$natives-linux {:mvn/version "3.2.2"}}}
           :macos {:extra-deps {org.lwjgl/lwjgl$natives-macos {:mvn/version "3.2.2"}
                                org.lwjgl/lwjgl-glfw$natives-macos {:mvn/version "3.2.2"}
                                org.lwjgl/lwjgl-opengl$natives-macos {:mvn/version "3.2.2"}
                                org.lwjgl/lwjgl-stb$natives-macos {:mvn/version "3.2.2"}}
                   :jvm-opts ["-XstartOnFirstThread"]}
           :windows {:extra-deps {org.lwjgl/lwjgl$natives-windows {:mvn/version "3.2.2"}
                                  org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.2.2"}
                                  org.lwjgl/lwjgl-opengl$natives-windows {:mvn/version "3.2.2"}
                                  org.lwjgl/lwjgl-stb$natives-windows {:mvn/version "3.2.2"}}}
           :profiler {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.0"}}
                      :jvm-opts ["-Djdk.attach.allowAttachSelf"
                                 "-XX:+UnlockDiagnosticVMOptions"
                                 "-XX:+DebugNonSafepoints"]}}}
